body {font-family: Arial;}

/* Style the tab */
.tab, .generaltab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button, .generaltab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover, .generaltab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active, .generaltab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent, .generaltabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {color: red;}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.active-page {
    background-color: red;
    color: white !important;
}